:root {
  --pink: #F28AB2;
  --white: #FFFFFF;
  --black: #000000;

  --primaryFont: 'Roboto', 'Oxygen', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--primaryFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}